/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales*/
.class-one {
  text-shadow: 1px 1px #1d3f30; }

body {
  background-color: #403f3f;
  background-image: url(../img/porsche-background.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat; }

.main-index {
  height: 70vh;
  overflow: scroll;
  padding: 10px; }

.footer-fix {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px; }

/* estilos de contacto*/
.wpp-logo {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px; }
