/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos generales*/


.class-one {
    text-shadow: 1px 1px rgb(0, 0, 0);

}


body {
    background-color: #403f3f;
    background-image: url(../img/porsche-background.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;

}



.footer-fix {
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

/*estilos del index*/

.main-index {
    height: 83vh;
    overflow: scroll;
    padding: 10px;
}

/*estilos de contacto*/

.wpp-logo {
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px
}




/*mq pantallas de tablet*/

@media screen and (min-width:600px) {
    .main-index {
        height: 85vh;
        overflow: visible;
    }

    .main-contacto {
        height: 1fr;
        overflow: auto;
    }
}