@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos generales*/
.class-one {
  text-shadow: 1px 1px #304d3e; }

body {
  background-color: #403f3f;
  background-image: url(../img/porsche-background.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat; }

.main-index {
  height: 70vh;
  overflow: scroll;
  padding: 10px; }

.footer-fix {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px; }

/* estilos de contacto*/
.wpp-logo {
  text-align: end;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px; }

/* estilos de agenda */
.mes-año {
  color: aliceblue; }

.calendario {
  text-align: center;
  width: 400px; }

div ol {
  color: aliceblue;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0; }

.first-day {
  grid-column-start: 6; }

.week-day {
  background-color: #8d8b8b;
  color: black;
  font-weight: bold;
  text-align: center; }

/*mq pantallas tablet*/
@media screen and (min-width: 600px) {
  .main-index {
    height: 85vh;
    overflow: visible; }
  .main-contacto {
    height: 1fr;
    overflow: auto; }
  .productos-display {
    height: 80vh;
    width: 100%;
    background-color: #de05ff;
    overflow: scroll; } }
