
/* estilos de contacto*/

.wpp-logo{
    text-align: map-get($boton-wpp, align-wpp);
    position: map-get($boton-wpp, position-wpp);
    bottom: map-get($boton-wpp, bottom-wpp);
    right: map-get($boton-wpp, rigth-wpp);
    padding: map-get($boton-wpp, padding-wpp);
};