//variables

@import "../utilidades/variables";
@import "../utilidades/maps";

/* estilos generales*/

.class-one{
    text-shadow:$sh1 $sh2 $sh-color;
}

body{
    background-color: map-get($bg-gral, bg-color );
    background-image: map-get($bg-gral, bg-image);
    background-blend-mode: map-get($bg-gral, bg-blend-mode);
    background-repeat: map-get($bg-gral, bg-repeat );
}

.main-index{
    height: map-get($main-gral, heigth-main);
    overflow: map-get($main-gral, overflow-main);
    padding: map-get($main-gral, padding-main);
}

.footer-fix {
    text-align: end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}



